<section class="pdp-empty">
  <p class="eyebrow">Account</p>
  <h1>Reset Your Password</h1>
  {% form 'reset_customer_password' %}
    {% if form.errors %}<p class="join-note">{{ form.errors.messages.first }}</p>{% endif %}
    <div class="pdp-option"><label class="pdp-option-label" for="reset_password">New password</label><input type="password" name="customer[password]" id="reset_password"></div>
    <div class="pdp-option"><label class="pdp-option-label" for="reset_password_confirmation">Confirm password</label><input type="password" name="customer[password_confirmation]" id="reset_password_confirmation"></div>
    <button type="submit" class="btn btn-solid">Reset Password</button>
  {% endform %}
</section>
